bin/daily_todo
*.d
*.o
autom4te.cache
aclocal.m4
compile
config.log
config.status
daily_todo
depcomp
install-sh
Makefile
Makefile.am
missing
.vscode
src/.deps
configure
Makefile
Makefile.am
Makefile.in
.dirstamp
.deps